{% extends 'base.html' %}
{% block content %}

<h1>
    <a href="{% url 'teams:detail' data.blue.team %}">{{ data.blue.team }}</a>
    vs.
    <a href="{% url 'teams:detail' data.purple.team %}">{{ data.purple.team }}</a></h1>
<h3>Best of {{ data.bestOfCount }}</h4>

<table class="table">
    <thead>
        <tr>
            <th>Blue</th>
            <th>Bans</th>
            <th>Purple</th>
        </tr>
    </thead>
    <tbody>
    {% for match in data.matches %}
    {% with blue=match.blue purple=match.purple %}
        <tr>
            <td>
                {% include 'series/player_details.html' with items=blue.items %}
            </td>
            <td class="vertical-align">
                <ul class="list-unstyled">
                {% for ban in match.bans %}
                    <li>{{ ban }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                {% include 'series/player_details.html' with items=purple.items %}
            </td>
        </tr>
    {% endwith %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}