{% extends 'base.html' %}
{% block content %}

<h4 class="text-center"><a href="{% url 'teams:index' %}">Back to teams</a></h4>
<h1 class="text-center">{{ data.0.id }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>PlayerID</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td><a href="{% url 'playerstatistics:detail' item.name %}">{{ item.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}