{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">Teams</h1>
<ul class="list-inline text-center">
    <li><a href="{% url 'teams:index' %}">ALL</a></li>
    {% for region in regions %}
    <li>
        <a href="{% url 'teams:region' region %}">{{ region }}</a>
    </li>
    {% endfor %}

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Teams</th>
            <th class="text-center">Region</th>
        </tr>
    </thead>
    <tbody class="text-center">
        {% for t in data %}
        <tr>
            <td><a href="{% url 'teams:detail' t.id %}">{{t.name}}</a></td>
            <td>{{t.region}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}