{% extends "base.html" %}
{% block content %}

<h1 class="text-center">{{ tournament.name }} - {{ tournament.year }}</h1>
<h4 class="text-center"><a href="{% url 'tournaments:index' %}">Back to tournaments</a></h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center">Blue Side</th>
            <th class="text-center">Score</th>
            <th class="text-center">Purple Side</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
    {% for k, v in data.items %}
        <tr>
                <td><a href="{% url 'teams:detail' v.blue.team %}">{{ v.blue.team }}</a></td>
                <td>{{ v.blue.score }} - {{ v.purple.score }}</td>
                <td><a href="{% url 'teams:detail' v.purple.team %}">{{ v.purple.team }}</a></td>
                <td><a href="{% url 'series:detail' k %}">See Details</a></td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}