{% extends "base.html" %}
{% block content %} 
<table class="table table-hover">
    <thead>
        <tr>
            <th>Blue Side</th>
            <th>Score</th>
            <th>Purple Side</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for k, v in data.items %}
        <tr>
                <td>{{ v.blue.team }}</td>
                <td>{{ v.blue.score }} - {{ v.purple.score }}</td>
                <td>{{ v.purple.team }}</td>
                <td><a href="{% url 'series:series' k %}">See Details</a></td>
            </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}