{% extends "base.html" %}
{% block content %} 

{% if error %}
    <p>{{ error }}</p>
{% else %}
    <h1>{{ name }} - <a href="{% url 'teams:detail' team %}">{{ team }}</a></h1>
    <h2>Ranking Points: {{ rank }}</h2>

    <div class="list-inline text-center">
        <li>Most played role: {{ role }}</li>
        <li>Least played role: {{ minRole }}</li>
        <li>Average Kill: {{ averageK }}</li>
        <li>Average Death: {{ averageD }}</li>
        <li>Average Assists: {{ averageA }}</li>
        <li>Max Kill : {{ maxK }}</li>
        <li>Max Death : {{ maxD }}</li>
        <li>Max Assists : {{ maxA }}</li>
    </div>
    <div class="list-inline text-center">
        {% if role == 'adc' %}
            <li>Average Damage: {{ avgdmg }}</li>
            <li>Average CreepScore: {{ avgcs }}</li>
            <li>Average Gold: {{ avgg }}</li>
        {% endif %}

        {% if role == 'support' %}
            <li>Average Ward Placed: {{ avgw }}</li>
            <li>Average Ward Destroyed: {{ avgwd }}</li>
        {% endif %}

        {% if role == 'jungle' %}
            <li>Average Team Jungle Minion Killed: {{ avgtJungle }}</li>
            <li>Average Enemy Jungle Minion Killed: {{ avgeJungle }}</li>
            <li>Average Gold: {{ avgg }}</li>
        {% endif %}

        {% if role == 'mid' %}
            <li>Average Damage: {{ avgdmg }}</li>
        {% endif %}

        {% if role == 'top' %}
            <li>Average Ward Placed: {{ avgw }}</li>
            <li>Average Gold: {{ avgg }}</li>
        {% endif %}
    </div>

    <div class="row">
        <img class="col-md-10" src="{% url 'playerstatistics:plot' name %}" alt="HTML5 Icon" style="width:800px;height:800px;">
        <div class="col-md-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Series Played (SeriesID)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in series %}
                    <tr>
                        <td><a href="{% url 'series:detail' item.seriesID %}">{{ item.seriesID }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endif %}

{% endblock %}