{% extends "base.html" %}
{% block content %} 

{% if error %}
    <p>{{ error }}</p>
{% else %}
    <p>The player showing is {{ name }}</p>
    <p>Most played role: {{ role }}</p>
    <p>Average Kill: {{ averageK }}</p>
    <p>Average Death: {{ averageD }}</p>
    <p>Average Assists: {{ averageA }}</p>
    <p>Max Kill : {{ maxK }}</p>
    <p>Max Death : {{ maxD }}</p>
    <p>Max Assists : {{ maxA }}</p>
    {% if role == 'adc' %}
        <p>Average Damage: {{ avgdmg }}</p>
        <p>Average cs: {{ avgcs }}</p>
        <p>Average Gold: {{ avgg }}</p>
    {% endif %}

    {% if role == 'support' %}
        <p>Average Ward Placed: {{ avgw }}</p>
        <p>Average Ward Destroyed: {{ avgwd }}</p>
    {% endif %}

    {% if role == 'jungle' %}
        <p>Average Team Jungle Minion Killed: {{ avgtJungle }}</p>
        <p>Average Enemy Jungle Minion Killed: {{ avgeJungle }}</p>
        <p>Average Gold: {{ avgg }}</p>
    {% endif %}

    {% if role == 'mid' %}
        <p>Average Damage: {{ avgdmg }}</p>
    {% endif %}

    {% if role == 'top' %}
        <p>Average Ward Placed: {{ avgw }}</p>
        <p>Average Gold: {{ avgg }}</p>
    {% endif %}

    <p>Ranking Point: {{ rank }}</p>
    <p>Team : <a href="{% url 'team:team' team %}">{{ team }}</a></p>
       <table class="table">
        <thead>
            <tr>
                <th>Series Played (SeriesID)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in series %}
            <tr>
                <td><a href="{% url 'series:series' item.seriesID %}">{{ item.seriesID }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}