{% extends "base.html" %}
{% block content %} 

{% if ranklist %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ranking</th>
            </tr>
        </thead>
        <tbody>
            {% for playerR in ranklist %}
            <tr>
                <td><a href="{% url 'playerstatistics:detail' playerR.id %}">{{ playerR.name }}</a></td>
                <td>{{ playerR.rank }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No player has played any games</p>
{% endif %}

{% endblock %}