{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RiftScuttler: Add {{ title }}</title>
    <link rel="stylesheet" href='{% static "css/base-curator.css" %}' />
</head>
<body>
<h1>RiftScuttler</h1>
<h2>Add {{ title }}</h2>
<nav>
    <ul>
        <li><a href="{% url 'curator-home' %}">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Add Data</a>
            <div class="dropdown-content">
                {% for item in nav_list_add %}
                    <a href="{% url item.0 %}">{{ item.1 }}</a>
                {% endfor %}
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Remove Data</a>
            <div class="dropdown-content">
                {% for item in nav_list_remove %}
                    <a href="{% url item.0 %}">{{ item.1 }}</a>
                {% endfor %}
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Edit Data</a>
            <div class="dropdown-content">
                {% for item in nav_list_edit %}
                    <a href="{% url item.0 %}">{{ item.1 }}</a>
                {% endfor %}
            </div>
        </li>
        <li><a href="{% url 'logout-page' %}">Logout</a></li>
    </ul>
</nav>
<div class="form">

    <form method="POST" action="#">
        <table>
            {% csrf_token %}
            <td>{{ form }}</td>
        </table>
        <input id="submit" type="submit" value="Submit">
    </form>

</div>
<table>
  <tr>
    {% for attr in args %}
      <th scope="col">{{ attr }}</th>
    {% endfor %}
  </tr>
  {% for obj in object_list %}
      <tr>
        {% for attr in obj %}
          <td>{{ attr }}</td>
        {% endfor %}
      </tr>
  {% endfor %}
</table>
</body>
</html>
