{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit {{ title }}</title>
    <link rel="stylesheet" href='{% static "css/base-curator.css" %}' />
</head>
<body>
<h1>Edit {{ title }}</h1>
<form method="POST" action="#">
    {% csrf_token %}
    {{ form.as_table }}
<input type="submit" value="Submit">
</form>
<table>
  <tr>
    {% for attr in args %}
      <th scope="col">{{ attr }}</th>
    {% endfor %}
  </tr>
  {% for obj in object_list %}
      <tr>
        {% for attr in obj %}
          <td>{{ attr }}</td>
        {% endfor %}
      </tr>
  {% endfor %}
</table>
</body>
</html>
