{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curator Login</title>
    <link rel="stylesheet" href='{% static "css/base.css" %}' />
</head>
<body>
<p>Curator's login page is under construction.</p>
<form action="/login/" method="post">
    {% csrf_token %}
    <input type="text" id="username" name="username"  placeholder="Username">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" value="Login">
</form>
</body>
</html>